﻿@using MedicineMonitoring.Models;
@model Tuple<User, Branch>


@{
    ViewBag.Title = "Registration";
}

<h2>Registration</h2>
@{if (ViewBag.userType == 2)
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>UserClass</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(tuple => tuple.Item1.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(tuple => tuple.Item1.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(tuple => tuple.Item1.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(tuple => tuple.Item1.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(tuple => tuple.Item1.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(tuple => tuple.Item1.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(tuple => tuple.Item1.DOB, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(tuple => tuple.Item1.DOB, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(tuple => tuple.Item1.DOB, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(tuple => tuple.Item1.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.RadioButtonFor(tuple => tuple.Item1.Gender, "Male", new { htmlAttributes = new { @class = "form-control" } })Male
                        @Html.RadioButtonFor(tuple => tuple.Item1.Gender, "Female", new { htmlAttributes = new { @class = "form-control" } })Female
                        @Html.ValidationMessageFor(tuple => tuple.Item1.Gender, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(tuple => tuple.Item1.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(tuple => tuple.Item1.UserId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(tuple => tuple.Item1.UserId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(tuple => tuple.Item1.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(tuple => tuple.Item1.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(tuple => tuple.Item1.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(tuple => tuple.Item1.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(tuple => tuple.Item1.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(tuple => tuple.Item1.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
               

                <div class="form-group">
                    @Html.LabelFor(tuple => tuple.Item1.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(tuple => tuple.Item1.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(tuple => tuple.Item1.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(tuple => tuple.Item1.ContactNo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(tuple => tuple.Item1.ContactNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(tuple => tuple.Item1.ContactNo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(tuple => tuple.Item2.BranchId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(tuple => tuple.Item2.BranchId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(tuple => tuple.Item2.BranchId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(tuple => tuple.Item2.BranchName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(tuple => tuple.Item2.BranchName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(tuple => tuple.Item2.BranchName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(tuple => tuple.Item2.BranchAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(tuple => tuple.Item2.BranchAddress, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(tuple => tuple.Item2.BranchAddress, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(tuple => tuple.Item1.CreatedDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(tuple => tuple.Item1.CreatedDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(tuple => tuple.Item1.CreatedDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(tuple => tuple.Item1.ModefiedDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(tuple => tuple.Item1.ModefiedDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(tuple => tuple.Item1.ModefiedDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(tuple => tuple.Item1.isDeleted, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(tuple => tuple.Item1.isDeleted)
                            @Html.ValidationMessageFor(tuple => tuple.Item1.isDeleted, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>UserClass</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(tuple => tuple.Item1.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(tuple => tuple.Item1.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(tuple => tuple.Item1.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(tuple => tuple.Item1.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(tuple => tuple.Item1.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(tuple => tuple.Item1.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(tuple => tuple.Item1.DOB, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(tuple => tuple.Item1.DOB, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(tuple => tuple.Item1.DOB, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(tuple => tuple.Item1.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.RadioButtonFor(tuple => tuple.Item1.Gender, "Male", new { htmlAttributes = new { @class = "form-control" } })Male
            @Html.RadioButtonFor(tuple => tuple.Item1.Gender, "Female", new { htmlAttributes = new { @class = "form-control" } })Female
            @Html.ValidationMessageFor(tuple => tuple.Item1.Gender, "", new { @class = "text-danger" })
        </div>
   
</div>
    <div class="form-group">
        @Html.LabelFor(tuple => tuple.Item1.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(tuple => tuple.Item1.UserId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(tuple => tuple.Item1.UserId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(tuple => tuple.Item1.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(tuple => tuple.Item1.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(tuple => tuple.Item1.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(tuple => tuple.Item1.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(tuple => tuple.Item1.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(tuple => tuple.Item1.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    

    <div class="form-group">
        @Html.LabelFor(tuple => tuple.Item1.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(tuple => tuple.Item1.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(tuple => tuple.Item1.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(tuple => tuple.Item1.ContactNo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(tuple => tuple.Item1.ContactNo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(tuple => tuple.Item1.ContactNo, "", new { @class = "text-danger" })
        </div>
    </div>
   

    <div class="form-group">
        @Html.LabelFor(tuple => tuple.Item1.CreatedDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(tuple => tuple.Item1.CreatedDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(tuple => tuple.Item1.CreatedDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(tuple => tuple.Item1.ModefiedDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(tuple => tuple.Item1.ModefiedDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(tuple => tuple.Item1.ModefiedDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(tuple => tuple.Item1.isDeleted, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(tuple => tuple.Item1.isDeleted)
                @Html.ValidationMessageFor(tuple => tuple.Item1.isDeleted, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
        }
    }
}



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
